<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521372463811-mj4umobctcvqeig7tag291hbdfi4in6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521372463811-mj4umobctcvqeig7tag291hbdfi4in6a</string>
	<key>API_KEY</key>
	<string>AIzaSyA8DypYl9fMAB0IEPRrFprjAkPrkGm8BHs</string>
	<key>GCM_SENDER_ID</key>
	<string>521372463811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HiDigi.LayoutApp</string>
	<key>PROJECT_ID</key>
	<string>hidigi-layout-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hidigi-layout-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521372463811:ios:a287a6420226543288a876</string>
	<key>DATABASE_URL</key>
	<string>https://hidigi-layout-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>